<div>
    <ng-form role="form" novalidate>
        <div class="row">
            <div class="col-md-2 form-group">
                <label class="control-label">Amount</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" ng-model="track.amount"/>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">Comment</label>
                <input type="text" class="form-control" ng-model="track.comment"/>
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label">Date</label>
                <input type="date" class="form-control" ng-model="track.date"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-danger btn-md" ng-disabled="!track.amount" ng-click="track.addExpense()">Add Expense</button>
                <button class="btn btn-success btn-md" ng-disabled="!track.amount" ng-click="track.addIncome()">Add Income</button>
            </div>
        </div>
    </ng-form>

    <div class="row">
      <div class="col-md-6">
        <h3>Expenses</h3>
        <p class="text-danger"><strong>Total: {{track.getTotalExpenses() | currency}}</strong></p>
        <div class="row animate-fade" ng-repeat="expense in track.getExpenses()">
            <span class="col-md-2">{{expense.amount | currency}}</span>
            <span class="col-md-6">{{expense.comment}}</span>
            <span class="col-md-3">{{expense.date | date : 'short'}}</span>
            <span ng-if="expense.saveError" class="col-md-1 label label-danger">Not synced! Try again.</span>
            <span ng-if="expense.saveSuccess" class="col-md-1 label label-success">Saved</span>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Incomes</h3>
        <p class="text-success"><strong>Total: {{track.getTotalIncomes() | currency}}</strong></p>
        <div class="row animate-fade" ng-repeat="income in track.getIncomes()">
            <span class="col-md-2">{{income.amount | currency}}</span>
            <span class="col-md-6">{{income.comment}}</span>
            <span class="col-md-3">{{income.date | date : 'short'}}</span>
            <span ng-if="income.saveError" class="label label-danger">Not synced! Try again.</span>
            <span ng-if="income.saveSuccess" class="label label-success">Saved</span>
        </div>
      </div>
    </div>
</div>
