<div>
    <ng-form role="form" novalidate>
        <div class="row">
            <div class="col-md-2 form-group">
                <label class="control-label">Amount</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" ng-model="track.amount"/>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">Comment</label>
                <input type="text" class="form-control" ng-model="track.comment"/>
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label">Date</label>
                <input type="date" class="form-control" ng-model="track.date"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-danger btn-lg" ng-disabled="!track.amount" ng-click="track.addExpense()">Add Expense</button>
                <button class="btn btn-success btn-lg" ng-disabled="!track.amount" ng-click="track.addCredit()">Add Credit</button>
            </div>
        </div>
    </ng-form>

    <div>
        <h4>Expenses</h4>
        <p class="animate-fade" ng-repeat="expense in track.getExpenses()">
            {{expense.amount | currency}} | {{expense.comment}} | {{expense.date | date : 'short'}}
        </p>
        <h5>Total: {{track.getTotalExpenses() | currency}}</h5>
        <h4>Credits</h4>
        <p class="animate-fade" ng-repeat="credit in track.getCredits()">
            {{credit.amount | currency}} | {{credit.comment}} | {{credit.date | date : 'short'}}
        </p>
        <h5>Total: {{track.getTotalCredits() | currency}}</h5>
    </div>
</div>
