html {
    font-family: 'Roboto', sans-serif;
}

.view-panel {
    padding: 10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    position: absolute;
}

.view-animate.ng-enter {
    opacity: 0;
}

.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
}

.view-animate.ng-leave {
    opacity: 1;
}

.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
}
